html,body,ul,ol,li,p,dl,dt,dd,h1,h2,h3,h4,h5{ margin:0px; padding:0px; }

ul,li,ol{ list-style:none; }
a{ text-decoration:none;}

body{ font: normal 100% Helvetica, Arial, sans-serif;}

html,body{ height:100%; }


.drag{ width:50px; height:50px; border-radius:50%; overflow:hidden; line-height:50px; text-align:center; position:fixed; right:10px; bottom:45%; margin-bottom:-25px; background:#aaa;}
.drag:hover{ background:#ccc;}

.menu-box{ height:40px; background:#99245C; line-height:40px; text-align:center;}
.menu-box li{ float:left; width:25%;}
.menu-box li{ color:#eee;}
.menu-box li.cur{ color:#2D6299; font-weight:bold; }

.title{ padding:5px; }

.scroll-box > div{ height:100%;}
.content{ outline-width:1px;outline-style:solid;outline-color:#ccc;  }